

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/MAIN1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/MAIN.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/main2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <img src="assets/images/head.png" class="rounded mx-auto d-block" alt="..."><br><br><br>
  <div class="container">
    
  <h6>Kerala, southwestern coastal state of India. It is a small state, constituting only about 1 percent of the total area of the country. Kerala stretches for about 360 miles (580 km) along the Malabar Coast, varying in width from roughly 20 to 75 miles (30 to 120 km). It is bordered by the states of Karnataka (formerly Mysore) to the north and Tamil Nadu to the east and by the Arabian Sea to the south and west; it also surrounds Mahe, a segment of the state of Puducherry, on the northwestern coast. The capital is Thiruvananthapuram (Trivandrum).

    Although isolated from the Indian interior by the mountainous belt of the Western Ghats, Kerala has been exposed to many foreign influences via its long coastline; consequently, the state has developed a unique culture within the subcontinent, not only with a diverse religious tradition but also with its own language, Malayalam. Also notable is the high social status that continues to be accorded to women of Kerala, owing to the former strength of a matrilineal kinship system. Area 15,005 square miles (38,863 square km). Pop. (2011) 33,387,677.
    
    Land
    Relief and drainage
    Periyar River
    Periyar River
    Dam on the Periyar River, Idukki, Kerala, India.
    Kerala is a region of great natural beauty. In the eastern part of the state, Anai Peak (8,842 feet [2,695 metres]), the highest peak of peninsular India, crowns the Western Ghats. Descending from the rocky highlands westward toward the coastal plain is a stretch of farmlands, with different crops cultivated at different elevations. Along the coast, a linked chain of lagoons and backwaters form the so-called Venice of India. Among the more important rivers that flow to the Arabian Sea are the Ponnani (Bharatapuzha), Periyar, Chalakudi, and Pamba.
    
    Climate
    The climate of Kerala is equable and varies little from season to season. Throughout the year, daily temperatures usually rise from the low 70s F (low 20s C) into the 80s F (27 to 32 °C). The state is directly exposed to the southwest monsoon, which prevails from July through September, but it also receives rain from the reverse (northeast) monsoon, which blows in October and November. Precipitation averages about 115 inches (3,000 mm) annually statewide, with some slopes receiving more than 200 inches (5,000 mm).
    
    </h6><br><br><br>
  </div>
